<a href="https://colab.research.google.com/github/brrikcy/machine-learning/blob/main/ML_EXP_14_BOOSTING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**IMPORTING LIBRARIES**

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

import numpy as np

**IMPORTING DATASET**

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/DATASETS/bike_buyers.csv')
data

,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Purchased Bike
0,Married,Female,40000.0,1.0,Bachelors,Skilled Manual,Yes,0.0,0-1 Miles,Europe,42.0,No
1,Married,Male,30000.0,3.0,Partial College,Clerical,Yes,1.0,0-1 Miles,Europe,43.0,No
2,Married,Male,80000.0,5.0,Partial College,Professional,No,2.0,2-5 Miles,Europe,60.0,No
3,Single,NaN,70000.0,0.0,Bachelors,Professional,Yes,1.0,5-10 Miles,Pacific,41.0,Yes
4,Single,Male,30000.0,0.0,Bachelors,Clerical,No,0.0,0-1 Miles,Europe,36.0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Married,Male,60000.0,2.0,High School,Professional,Yes,2.0,2-5 Miles,North America,54.0,Yes
996,Single,Male,70000.0,4.0,Graduate Degree,Professional,Yes,0.0,2-5 Miles,North America,35.0,Yes
997,Married,NaN,60000.0,2.0,Bachelors,Skilled Manual,Yes,0.0,0-1 Miles,North America,38.0,Yes
998,Single,Male,100000.0,3.0,Bachelors,Management,No,3.0,1-2 Miles,North America,38.0,No
999,Single,Male,60000.0,3.0,High School,Professional,Yes,2.0,10+ Miles,North America,53.0,Yes

**DATA PREPROCESSING**

Handling duplicate and missing values

In [ ]:
data.dropna(inplace=True)
data.drop_duplicates(inplace=True)

Encoding categorical values


> Ordinal encoding

In [ ]:
education_codes={'Partial High School':1,'High School':2,'Partial College':3,'Graduate Degree':4,'Bachelors':5 }
data['Education']=data['Education'].map(education_codes)

In [ ]:
occupation_codes={'Clerical':1,'Manual':2,'Management':3,'Skilled Manual':4,'Professional':5}
data['Occupation']=data['Occupation'].map(occupation_codes)

In [ ]:
commute_distance_codes={'0-1 Miles':1,'1-2 Miles':2,'2-5 Miles':5,'5-10 Miles':10,'10+ Miles':13}
data['Commute Distance']=data['Commute Distance'].map(commute_distance_codes)



> Label encoding

In [ ]:
encoder=LabelEncoder()
for col in data.columns:
  if data[col].dtypes!='int64' and data[col].dtypes!='float64':
    data[col]=encoder.fit_transform(data[col])+1

Eliminating Outliers

In [ ]:
threshold=3
for col in data.columns:
  z_scores = np.abs((data[col] - data[col].mean()) / data[col].std())
  filtered_data = data[col][(z_scores < threshold)]
  data[col] = filtered_data

In [ ]:
data.dropna(inplace=True)

**SPLITTING DATASET**

In [ ]:
x=data.drop(columns=['Purchased Bike'])
y=data['Purchased Bike']

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=2)

**CLASSIFICATION MODEL**

In [ ]:
tree=DecisionTreeClassifier(max_depth=3)
classification_model=tree.fit(x_train,y_train)

In [ ]:
classification_y_pred=classification_model.predict(x_test)

In [ ]:
print(f"Accuracy of the classification model is: {accuracy_score(y_test,classification_y_pred)}")

Accuracy of the classification model is: 0.5851851851851851

**ENSEMBLE MODEL**



>**Using Decision Tree**

In [ ]:
Aboost_dt=AdaBoostClassifier(n_estimators=80,learning_rate=0.01)
ensemble_model_dt=Aboost_dt.fit(x_train,y_train)

In [ ]:
ensemble_dt_y_pred=ensemble_model_dt.predict(x_test)

In [ ]:
print(f"Accuracy of the ensemble model using decision tree is: {accuracy_score(y_test,ensemble_dt_y_pred)}")

Accuracy of the ensemble model using decision tree is: 0.6851851851851852

>**Using SVM**

In [ ]:
svc=SVC(probability=True)
Aboost_svm=AdaBoostClassifier(n_estimators=50,learning_rate=0.1,base_estimator=svc)

In [ ]:
ensemble_model_svm=Aboost_svm.fit(x_train,y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

In [ ]:
print(f"Accuracy of the ensemble model using SVM is: {accuracy_score(y_test,ensemble_model_svm.predict(x_test))}")

Accuracy of the ensemble model using SVM is: 0.5